<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админская панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}">
</head>
<body>
<h1>Админская панель</h1>
{% if users %}
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Действие</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button onclick="deleteUser({{ user.id }})">Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Нет пользователей для отображения</p>
{% endif %}

<script>
function deleteUser(userId) {
    if (confirm("Вы уверены, что хотите удалить этого пользователя?")) {
        fetch(`/delete_user/${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({id: userId}),
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Ошибка удаления пользователя');
            }
        })
        .catch(error => {
            console.error('Произошла ошибка:', error);
        });
    }
}
</script>
</body>
</html>
